.bg-logo {
    background-color: #f4a261;
}

.bg-nav, .bg-footer {
    background-color: #2a9d8f;
}

.bg-header {
    background-color: #e76f51;
}

.bg-sidebar {
    background-color: #264653;
}

.bg-tubuh {
    background-color: #e9c46a;
}

